html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.full-height {
  min-height: 100vh;
}

.half-height {
  height: 50vh;
  min-height: 400px;
}

.navbar {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  &.scrolled {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(30px) saturate(125%);
    -webkit-backdrop-filter: blur(30px) saturate(125%);
    transition: all 0.3s;

    .navbar-brand {
      left: 0;
    }
  }

  .navbar-brand {
    position: relative;
    left: -160px;
    transition: left 0.5s;
  }
}
