$primary-color: #104c64;
$secondary-color: #1e2456;
$third-color: #e5f7d2;// #b5cd9d;

$light: $third-color;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color
);

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// lightgallery
$lg-thumb-toggle-hover-color: $primary-color;
